Repository ScrubinScheduling/scheduling-app: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy:api:preview, deploy:web:preview, expose:web:environment, deploy:api:production, deploy:web:production

Path conditions:
  deploy:api:preview: any of: apps/api/**/*, apps/api/prisma/**/*, packages/schemas/**/*
  deploy:web:preview: any of: apps/web/**/*, packages/schemas/**/*
  expose:web:environment: any of: apps/web/**/*, packages/schemas/**/*
  deploy:api:production: any of: apps/api/**/*, apps/api/prisma/**/*, packages/schemas/**/*
  deploy:web:production: any of: apps/web/**/*, packages/schemas/**/*

Added view for creating shift trade/cover requests
  apps/web/src/app/workspaces/[id]/user/requests/page.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

Implement DatePicker
  apps/web/components/SingleAddShiftModal.tsx
  apps/web/src/app/workspaces/[id]/admin/dashboard/page.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

add update seed script which includes timesheet data
  apps/api/prisma/seed.ts
Due: deploy:api:preview, deploy:api:production

Add cors cross orgin to be able to allow cookie auth in server
  apps/api/src/index.ts
Due: deploy:api:preview, deploy:api:production

Fix edit shift route, typing a number on an entire object instead of indivisually
  apps/api/src/routes/shifts.ts
Due: deploy:api:preview, deploy:api:production

Implement live reload for shifts to user calendar and user dashboard
  apps/web/components/UpcomingScheduleCard.tsx
  apps/web/src/app/workspaces/[id]/user/calendar/page.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

Implement live reload for user requests and refactor to use apiClient hook
  apps/api/src/routes/events.ts
  apps/api/src/routes/meetings.ts
  apps/web/src/app/workspaces/[id]/user/requests/page.tsx
Due: deploy:api:preview, deploy:web:preview, expose:web:environment, deploy:api:production, deploy:web:production

create general navbar component
  apps/web/components/AppHeader.tsx
  apps/web/components/Navbar.tsx
  apps/web/components/UserAppHeader.tsx
  apps/web/src/app/workspaces/[id]/admin/layout.tsx
  apps/web/src/app/workspaces/[id]/user/layout.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

Implemented Create time off request api route
  apps/api/src/routes/timeOffRequests.ts
Due: deploy:api:preview, deploy:api:production

Implemented update time off request api route
  apps/api/src/routes/timeOffRequests.ts
Due: deploy:api:preview, deploy:api:production

Implemented delete time-off request api-route
  apps/api/src/routes/timeOffRequests.ts
Due: deploy:api:preview, deploy:api:production

Added methods to create, update and delete TimeOffRequests in api-client
  apps/api/src/routes/timeOffRequests.ts
  apps/web/src/app/workspaces/[id]/user/requests/page.tsx
  packages/api-client/src/index.ts
Due: deploy:api:preview, deploy:web:preview, expose:web:environment, deploy:api:production, deploy:web:production

add back approve/reject shift endpoints
  apps/api/src/routes/shiftRequests.ts
Due: deploy:api:preview, deploy:api:production

add fetch workspace in ViewShifts
  apps/api/src/routes/workspaces.ts
  apps/mobile/pages/ViewShiftPage.tsx
Due: deploy:api:preview, deploy:api:production

use userId of the workspace owner for invitation
  apps/api/src/routes/invitations.ts
Due: deploy:api:preview, deploy:api:production

fix redirect issue with invitation card
  apps/web/components/InvitationCard.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

fixed issue: employee meeting requests now show meeting requests status instead of meeting status
  apps/api/src/routes/meetings.ts
  apps/web/src/app/workspaces/[id]/user/requests/page.tsx
Due: deploy:api:preview, deploy:web:preview, expose:web:environment, deploy:api:production, deploy:web:production

Remove notion metadata from README.md
  README.md
Due: none

Added create shift request form to the user dashboard
  apps/web/components/ClockinCard.tsx
  apps/web/src/app/workspaces/[id]/user/requests/page.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

add new shadcn customized components
  apps/api/prisma/seed.ts
  apps/web/components.json
  apps/web/package.json
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/components/component-example.tsx
  apps/web/src/components/example.tsx
  apps/web/src/components/ui/alert-dialog.tsx
  apps/web/src/components/ui/badge.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/components/ui/combobox.tsx
  apps/web/src/components/ui/dropdown-menu.tsx
  apps/web/src/components/ui/field.tsx
  apps/web/src/components/ui/input-group.tsx
  apps/web/src/components/ui/input.tsx
  apps/web/src/components/ui/label.tsx
  apps/web/src/components/ui/select.tsx
  apps/web/src/components/ui/separator.tsx
  apps/web/src/components/ui/textarea.tsx
  pnpm-lock.yaml
Due: deploy:api:preview, deploy:web:preview, expose:web:environment, deploy:api:production, deploy:web:production

add initial zod schemas
  packages/schemas/package.json
  packages/schemas/src/index.ts
  pnpm-lock.yaml
Due: deploy:api:preview, deploy:web:preview, expose:web:environment, deploy:api:production, deploy:web:production

delete all controllers and put logic in actual endpoint callback
  apps/api/src/controllers/memberController.ts
  apps/api/src/controllers/shiftController.ts
  apps/api/src/controllers/shiftRequestController.ts
  apps/api/src/controllers/userController.ts
  apps/api/src/routes/workspaceUsers.ts
Due: deploy:api:preview, deploy:api:production

organize all components into the components folder
  apps/web/src/app/invitations/[id]/page.tsx
  apps/web/src/app/workspaces/[id]/admin/dashboard/page.tsx
  apps/web/src/app/workspaces/[id]/admin/layout.tsx
  apps/web/src/app/workspaces/[id]/admin/requests/layout.tsx
  apps/web/src/app/workspaces/[id]/admin/requests/meeting/page.tsx
  apps/web/src/app/workspaces/[id]/admin/team/page.tsx
  apps/web/src/app/workspaces/[id]/admin/timesheets/page.tsx
  apps/web/src/app/workspaces/[id]/user/dashboard/page.tsx
  apps/web/src/app/workspaces/[id]/user/layout.tsx
  apps/web/src/app/workspaces/page.tsx
  apps/web/src/components/AddMemberModal.tsx
  apps/web/src/components/AddShiftModal.tsx
  apps/web/src/components/ClockinCard.tsx
  apps/web/src/components/CreateWorkspaceCard.tsx
  apps/web/src/components/InvitationCard.tsx
  apps/web/src/components/MeetingModal.tsx
  apps/web/src/components/Navbar.tsx
  apps/web/src/components/RequestsTabBar.tsx
  apps/web/src/components/ShiftModal.tsx
  apps/web/src/components/SingleAddShiftModal.tsx
  apps/web/src/components/TimesheetTable.tsx
  apps/web/src/components/UpcomingScheduleCard.tsx
  apps/web/src/components/UserSelect.tsx
  apps/web/src/components/UserShift.tsx
  apps/web/src/components/WorkspaceCard.tsx
  apps/web/src/components/WorkspaceList.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

Inital commit, implement header
  .prettierrc
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/ui/button.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

Implement left content for placeholder stats, and titles
  apps/web/src/app/page.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

Implement right card
  apps/web/src/app/page.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

Implement feature section
  apps/web/src/app/page.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

Implement benifit section
  apps/web/src/app/page.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

Implement future action section
  apps/web/src/app/page.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

Implement footer and clean up, claims
  apps/web/src/app/page.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

Implement links for signing in, fix color mapping bug, and suppress hydration erros caused by grammerly
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

add schemas for groupings and types
  packages/schemas/src/index.ts
Due: deploy:api:preview, deploy:web:preview, expose:web:environment, deploy:api:production, deploy:web:production

Refactor landing page into seperate components
  apps/web/src/app/page.tsx
  apps/web/src/components/landing/Benefits.tsx
  apps/web/src/components/landing/Features.tsx
  apps/web/src/components/landing/Footer.tsx
  apps/web/src/components/landing/Future.tsx
  apps/web/src/components/landing/Header.tsx
  apps/web/src/components/landing/Hero.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

initial cleanup of admin meetings page
  apps/web/src/app/workspaces/[id]/admin/requests/meeting/page.tsx
  apps/web/src/components/MeetingCard.tsx
  apps/web/src/components/MeetingDetails.tsx
  apps/web/src/components/MeetingModal.tsx
  apps/web/src/components/MeetingsList.tsx
  apps/web/src/lib/utils.ts
Due: deploy:web:preview, expose:web:environment, deploy:web:production

update to safe react and next versions
  apps/web/package.json
  pnpm-lock.yaml
Due: deploy:web:preview, expose:web:environment, deploy:web:production

chore: cleanup MeetingModal
  apps/web/src/app/workspaces/[id]/admin/requests/meeting/page.tsx
  apps/web/src/components/DateSelector.tsx
  apps/web/src/components/MeetingModal.tsx
  apps/web/src/components/TimeSelector.tsx
  apps/web/src/lib/utils.ts
  packages/api-client/src/index.ts
  packages/schemas/src/index.ts
Due: deploy:api:preview, deploy:web:preview, expose:web:environment, deploy:api:production, deploy:web:production

fix meeting status display
  apps/web/src/components/MeetingCard.tsx
  apps/web/src/components/MeetingDetails.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

create migration for ApprovalStatus adjustment
  apps/api/prisma/migrations/20251228194235_rename_denied_to_rejected/migration.sql
Due: deploy:api:preview, deploy:api:production

Fix React Server Components CVE vulnerabilities
  apps/web/package.json
  pnpm-lock.yaml
Due: deploy:web:preview, expose:web:environment, deploy:web:production

pin prisma version to 6.17.1
  apps/api/package.json
  pnpm-lock.yaml
Due: deploy:api:preview, deploy:api:production
