Repository ScrubinScheduling/scheduling-app: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy:api:preview, deploy:web:preview, expose:web:environment, deploy:api:production, deploy:web:production

deploy:api:preview:
  stage: deploy
  script:
  - npm install --global vercel
  - npm install --global pnpm
  - vercel pull --yes --environment=preview --token="$TOKEN"
  - vercel deploy --token="$TOKEN"

deploy:web:preview:
  stage: deploy
  script:
  - npm install --global vercel
  - npm install --global pnpm
  - vercel pull --yes --environment=preview --token="$TOKEN"
  ...

expose:web:environment:
  stage: expose
  needs:
  - job: deploy:web:preview
    artifacts: true
  script:
  - echo "Publishing environment URL $WEB_PREVIEW_URL"
  environment:
    name: staging
    url: $WEB_PREVIEW_URL

deploy:api:production:
  stage: deploy
  script:
  - npm install --global vercel
  - npm install --global pnpm
  - vercel pull --yes --environment=production --token="$TOKEN"
  - vercel deploy --yes --prod --token="$TOKEN"

deploy:web:production:
  stage: deploy
  script:
  - npm i -g vercel pnpm
  - vercel pull --yes --environment=production --token="$TOKEN"
  ...

refactor: replace Ant Design components with shadcn in AddShiftModal
  apps/web/src/components/AddShiftModal.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

feat: a small UserCombobox using Popover + Command, helps with search
  apps/web/src/components/UserCombobox.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

refactor: admin shift assigning with a calender view
  apps/api/package-lock.json
  apps/web/src/app/workspaces/[id]/admin/dashboard/page.tsx
Due: deploy:api:preview, deploy:web:preview, expose:web:environment, deploy:api:production, deploy:web:production

ui: increase calender scale
  apps/web/src/app/workspaces/[id]/admin/dashboard/page.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

ui: dark mode toggle
  apps/web/src/app/layout.tsx
  apps/web/src/components/Navbar.tsx
  apps/web/src/components/mode-toggle.tsx
  apps/web/src/components/theme-provider.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

feat: month + year dropdowns on admin dashboard
  apps/web/src/app/workspaces/[id]/admin/dashboard/page.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

refactor: make admin dashboard route file () a thin wrapper around a client container component
  apps/web/src/app/workspaces/[id]/admin/dashboard/page.tsx
  apps/web/src/components/admin/AdminScheduleDashboard.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

refactor: add shared schedule types
  .gitignore
  apps/web/src/app/workspaces/[id]/user/calendar/page.tsx
  apps/web/src/components/ClockinCard.tsx
  apps/web/src/components/admin/AdminScheduleDashboard.tsx
  packages/schemas/src/index.ts
Due: deploy:api:preview, deploy:web:preview, expose:web:environment, deploy:api:production, deploy:web:production

feat: implement hook to own member/schedule fetching, SSE refetch, loading/error state, and deleteShift.
  apps/web/src/hooks/useWorkspaceMonthlySchedule.ts
Due: deploy:web:preview, expose:web:environment, deploy:web:production

refactor: simplify AdminScheduleDashboard by integrating MonthlyCalendarCard and removing unused components
  apps/web/src/components/admin/AdminScheduleDashboard.tsx
  apps/web/src/components/schedule/MonthGrid.tsx
  apps/web/src/components/schedule/MonthNavigator.tsx
  apps/web/src/components/schedule/MonthlyCalendarCard.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

refactor: enhance AdminScheduleDashboard layout and improve component structure
  apps/web/src/components/schedule/DayScheduleCard.tsx
  apps/web/src/components/schedule/ScheduledUserCard.tsx
  apps/web/src/components/schedule/ShiftSummaryButton.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

refactor: restructure AdminScheduleDashboard to utilize AdminScheduleActions and AdminScheduleModals, enhancing component organization and functionality
  apps/web/src/components/admin/AdminScheduleActions.tsx
  apps/web/src/components/admin/AdminScheduleDashboard.tsx
  apps/web/src/components/admin/AdminScheduleModals.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

refactor: enhance useWorkspaceMonthlySchedule hook to include error handling and optional confirmation for shift deletion
  apps/web/src/components/admin/AdminScheduleDashboard.tsx
  apps/web/src/hooks/useWorkspaceMonthlySchedule.ts
Due: deploy:web:preview, expose:web:environment, deploy:web:production

refactor: streamline calendar page by integrating MonthlyCalendarCard and DayScheduleCard, enhancing date selection and shift display functionality
  apps/web/helpers/schedule.ts
  apps/web/src/app/workspaces/[id]/user/calendar/page.tsx
  apps/web/src/hooks/useWorkspaceMonthlySchedule.ts
Due: deploy:web:preview, expose:web:environment, deploy:web:production

chore: Reformat positioning of and styel of create workspace component
  apps/mobile/src/app/(home)/workspaces/index.tsx
  apps/mobile/src/components/workspace/CreateWorkspaceCard.tsx
Due: none

feat: implement create workspace button in selector
  apps/web/src/components/CreateWorkspaceModal.tsx
  apps/web/src/components/WorkspaceSelector.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

don't treat workspace creation page as a workspace page
  apps/web/src/middleware.ts
Due: deploy:web:preview, expose:web:environment, deploy:web:production

feat: create initial version of workspace creation page
  apps/web/src/app/workspaces/create/page.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

feat: hook up invitation api to invitation in workspace onboarding page
  apps/web/src/app/workspaces/create/page.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

fix: add workspaces in user layout to feed into selector
  apps/web/src/app/workspaces/[id]/user/layout.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

feat: hook up workspace creation to api
  apps/web/src/app/workspaces/create/page.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

put page under /workspaces/oboarding
  apps/web/src/app/workspaces/onboarding/page.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

fix: fix middleware to reflect new route for onboarding
  apps/web/src/middleware.ts
Due: deploy:web:preview, expose:web:environment, deploy:web:production

feat: redirect users with no workspaces to onboarding page
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/app/sign-in/[[...sign-in]]/page.tsx
  apps/web/src/app/sign-up/[[...sign-up]]/page.tsx
  apps/web/src/app/workspaces/onboarding/page.tsx
  apps/web/src/components/WorkspaceOnboarding.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

refactor: Move invataion UI into componenets
  apps/mobile/src/app/(home)/workspaces/index.tsx
  apps/mobile/src/components/workspace/InvatationInput.tsx
  apps/mobile/src/components/workspace/InvatationModal.tsx
Due: none

refactor: Implement a way to navigate to workspaces from dashboard
  apps/mobile/src/app/(home)/workspaces/[id]/(user)/dashboard.tsx
  apps/mobile/src/app/(home)/workspaces/index.tsx
  apps/mobile/src/components/WorkSpaceButton.tsx
Due: none

feat: Implement rough version of SSE connections
  apps/api/src/routes/events.ts
  apps/mobile/package.json
  apps/mobile/src/app/(home)/workspaces/index.tsx
  apps/mobile/src/hooks/useApiClient.ts
  pnpm-lock.yaml
Due: deploy:api:preview, deploy:api:production

fix: The constant requesting to stream after page has been unfocused
  apps/api/src/routes/events.ts
  apps/mobile/src/app/(home)/workspaces/index.tsx
Due: deploy:api:preview, deploy:api:production

refactor: Add loading state when getting stream
  apps/api/src/routes/events.ts
  apps/mobile/src/app/(home)/workspaces/index.tsx
Due: deploy:api:preview, deploy:api:production

Path conditions:
  deploy:api:preview: any of: apps/api/**/*, apps/api/prisma/**/*, packages/schemas/**/*
  deploy:web:preview: any of: apps/web/**/*, packages/schemas/**/*
  expose:web:environment: any of: apps/web/**/*, packages/schemas/**/*
  deploy:api:production: any of: apps/api/**/*, apps/api/prisma/**/*, packages/schemas/**/*
  deploy:web:production: any of: apps/web/**/*, packages/schemas/**/*
