Repository ScrubinScheduling/scheduling-app: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy:api:preview, deploy:web:preview, expose:web:environment, deploy:api:production, deploy:web:production

deploy:api:preview:
  stage: deploy
  script:
  - npm install --global vercel
  - npm install --global pnpm
  - vercel pull --yes --environment=preview --token="$TOKEN"
  - vercel deploy --token="$TOKEN"

deploy:web:preview:
  stage: deploy
  script:
  - npm install --global vercel
  - npm install --global pnpm
  - vercel pull --yes --environment=preview --token="$TOKEN"
  ...

expose:web:environment:
  stage: expose
  needs:
  - job: deploy:web:preview
    artifacts: true
  script:
  - echo "Publishing environment URL $WEB_PREVIEW_URL"
  environment:
    name: staging
    url: $WEB_PREVIEW_URL

deploy:api:production:
  stage: deploy
  script:
  - npm install --global vercel
  - npm install --global pnpm
  - vercel pull --yes --environment=production --token="$TOKEN"
  - vercel deploy --yes --prod --token="$TOKEN"

deploy:web:production:
  stage: deploy
  script:
  - npm i -g vercel pnpm
  - vercel pull --yes --environment=production --token="$TOKEN"
  ...

fix: temporary lint fixes
  apps/api/src/routes/meetings.ts
  apps/api/src/routes/shiftRequests.ts
  apps/api/src/routes/shifts.ts
  apps/api/src/routes/timeOffRequests.ts
  apps/web/src/app/workspaces/[id]/user/requests/page.tsx
  apps/web/src/components/ClockinCard.tsx
Due: deploy:api:preview, deploy:web:preview, expose:web:environment, deploy:api:production, deploy:web:production

lint fixes during web
  apps/web/src/app/workspaces/[id]/admin/requests/meeting/page.tsx
  apps/web/src/app/workspaces/[id]/admin/timesheets/page.tsx
  apps/web/src/app/workspaces/[id]/user/requests/page.tsx
  apps/web/src/components/ClockinCard.tsx
  apps/web/src/components/Navbar.tsx
  apps/web/src/components/SingleAddShiftModal.tsx
  apps/web/src/components/TimesheetTable.tsx
  apps/web/src/components/landing/Future.tsx
  apps/web/src/components/landing/Hero.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

disable pages not included in first iteration
  apps/web/src/app/workspaces/[id]/admin/layout.tsx
  apps/web/src/app/workspaces/[id]/user/layout.tsx
  apps/web/src/middleware.ts
Due: deploy:web:preview, expose:web:environment, deploy:web:production

ci: add auto generated supabase dir to the .gitignore
  .gitignore
Due: none

refactor: update UI styles for consistency across components
  apps/web/src/app/invitations/[id]/page.tsx
  apps/web/src/app/workspaces/[id]/admin/requests/meeting/page.tsx
  apps/web/src/app/workspaces/[id]/admin/requests/shift/page.tsx
  apps/web/src/app/workspaces/[id]/admin/team/page.tsx
  apps/web/src/app/workspaces/[id]/user/requests/page.tsx
  apps/web/src/app/workspaces/page.tsx
  apps/web/src/components/AddMemberModal.tsx
  apps/web/src/components/AddShiftModal.tsx
  apps/web/src/components/CreateWorkspaceCard.tsx
  apps/web/src/components/InvitationCard.tsx
  apps/web/src/components/MeetingModal.tsx
  apps/web/src/components/RequestsTabBar.tsx
  apps/web/src/components/ShiftModal.tsx
  apps/web/src/components/WorkspaceCard.tsx
  apps/web/src/components/landing/Hero.tsx
  apps/web/src/components/ui/slider.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

style: enhance UI consistency and improve error handling across components
  apps/web/src/app/workspaces/[id]/admin/dashboard/page.tsx
  apps/web/src/app/workspaces/[id]/admin/team/page.tsx
  apps/web/src/app/workspaces/[id]/user/requests/page.tsx
  apps/web/src/components/ClockinCard.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

style: consistent use of global.css variables.
  apps/web/src/app/globals.css
  apps/web/src/app/shift-requests/create/page.tsx
  apps/web/src/app/workspaces/[id]/admin/requests/meeting/page.tsx
  apps/web/src/app/workspaces/[id]/admin/requests/shift/page.tsx
  apps/web/src/components/AddShiftModal.tsx
  apps/web/src/components/InvitationCard.tsx
  apps/web/src/components/MeetingModal.tsx
  apps/web/src/components/Navbar.tsx
  apps/web/src/components/landing/Footer.tsx
  apps/web/src/components/landing/Header.tsx
  apps/web/src/components/landing/Hero.tsx
  apps/web/src/components/ui/chart.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

fix(mobile): cors fix
  apps/api/src/index.ts
Due: deploy:api:preview, deploy:api:production

Implement OAuth and email/password login for users
  apps/mobile/package.json
  apps/mobile/src/app/(auth)/sign-in.tsx
  apps/mobile/src/app/(home)/index.tsx
  pnpm-lock.yaml
Due: none

Implement OAuth in sign-in page
  apps/mobile/src/app/(auth)/sign-in.tsx
Due: none

Refactor functionality into seperate components.
  apps/mobile/src/app/(auth)/sign-in.tsx
  apps/mobile/src/app/(auth)/sign-up.tsx
  apps/mobile/src/components/OAuthButtons.tsx
  apps/mobile/src/components/VerificationModal.tsx
Due: none

Implement error card
  apps/mobile/src/app/(auth)/sign-up.tsx
  apps/mobile/src/components/ErrorCard.tsx
  apps/mobile/src/utils/error-handler.ts
Due: none

Set isLoading states
  apps/mobile/src/app/(auth)/sign-in.tsx
Due: none

Fix: typo in network connections
  apps/mobile/src/app/(auth)/sign-up.tsx
Due: none

Implement basic error message view to sign in and sign out pages
  apps/mobile/src/app/(auth)/sign-in.tsx
  apps/mobile/src/app/(auth)/sign-up.tsx
Due: none

Refactor home page to simple clerk setup with OAuth
  apps/mobile/App.tsx
  apps/mobile/navigation/TabNavigator.tsx
  apps/mobile/package.json
  apps/mobile/src/app/(auth)/_layout.tsx
  apps/mobile/src/app/(auth)/sign-in.tsx
  apps/mobile/src/app/(auth)/sign-up.tsx
  apps/mobile/src/app/(home)/_layout.tsx
  apps/mobile/src/app/(home)/index.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/components/MainTabs.tsx
  apps/mobile/src/components/SignOutButton.tsx
  apps/mobile/src/components/ui/gluestack-ui-provider/config.ts
  apps/mobile/src/components/ui/gluestack-ui-provider/index.next15.tsx
  apps/mobile/src/components/ui/gluestack-ui-provider/index.tsx
  apps/mobile/src/components/ui/gluestack-ui-provider/index.web.tsx
  apps/mobile/src/components/ui/gluestack-ui-provider/script.ts
  pnpm-lock.yaml
Due: none

refactor(mobile): fix lint warnings
  apps/mobile/src/app/(auth)/sign-in.tsx
  apps/mobile/src/app/(auth)/sign-up.tsx
  apps/mobile/src/app/(home)/_layout.tsx
  apps/mobile/src/app/(home)/index.tsx
  apps/mobile/src/app/(home)/workspaces/index.tsx
  apps/mobile/src/components/ErrorCard.tsx
  apps/mobile/src/components/auth/OAuthButtons.tsx
  apps/mobile/src/components/auth/VerificationModal.tsx
Due: none

Refactor: remove unused files
  apps/mobile/api/client.ts
  apps/mobile/index.ts
  apps/mobile/navigation/TabNavigator.tsx
  apps/mobile/pages/DaysOffPage.tsx
  apps/mobile/pages/EntryPage.tsx
  apps/mobile/pages/HomePage.tsx
  apps/mobile/pages/SettingsPage.tsx
  apps/mobile/pages/SignInPage.tsx
  apps/mobile/pages/SignUpPage.tsx
  apps/mobile/pages/TradeShiftPage.tsx
  apps/mobile/pages/ViewShiftPage.tsx
  apps/mobile/src/hooks/useApiClient.ts
Due: none

Implement cool down for resending code and remove unused variables
  apps/mobile/app.json
  apps/mobile/src/app/(auth)/sign-in.tsx
  apps/mobile/src/app/(auth)/sign-up.tsx
  apps/mobile/src/components/VerificationModal.tsx
Due: none

refactor(mobile): move auth components and update layouts
  apps/mobile/eslint.config.js
  apps/mobile/package.json
  apps/mobile/src/app/(auth)/_layout.tsx
  apps/mobile/src/app/(auth)/sign-in.tsx
  apps/mobile/src/app/(auth)/sign-up.tsx
  apps/mobile/src/app/(home)/_layout.tsx
  apps/mobile/src/app/(home)/index.tsx
  apps/mobile/src/app/(home)/workspaces/_layout.tsx
  apps/mobile/src/app/(home)/workspaces/index.tsx
  apps/mobile/src/components/auth/OAuthButtons.tsx
  apps/mobile/src/components/auth/SignOutButton.tsx
  apps/mobile/src/components/auth/VerificationModal.tsx
  pnpm-lock.yaml
Due: none

Implement UI for sign-up page
  apps/mobile/src/app/(auth)/sign-up.tsx
Due: none

Implement UI for frontend sign-in page
  apps/mobile/assets/logo.png
  apps/mobile/package.json
  apps/mobile/src/app/(auth)/_layout.tsx
  apps/mobile/src/app/(auth)/sign-in.tsx
  apps/mobile/src/app/_layout.tsx
  pnpm-lock.yaml
Due: none

refactor: reorganize workspace navigation folders
  apps/mobile/src/app/(home)/workspaces/[id]/(user)/_layout.tsx
  apps/mobile/src/app/(home)/workspaces/[id]/_layout.tsx
  apps/mobile/src/components/MainTabs.tsx
  apps/mobile/src/components/WorkSpaceCard.tsx
Due: none

feat: Implement workspace cards and workspace list
  apps/mobile/src/app/(home)/_layout.tsx
  apps/mobile/src/app/(home)/workspaces/_layout.tsx
  apps/mobile/src/app/(home)/workspaces/index.tsx
  apps/mobile/src/components/WorkSpaceCard.tsx
  apps/mobile/src/components/auth/OAuthButtons.tsx
  apps/mobile/src/components/workspace/CreateCard.tsx
  apps/mobile/src/components/workspace/WorkSpaceCard.tsx
Due: none

feature: Implement viewing workspaces from api and error feedback card
  apps/mobile/src/app/(home)/workspaces/index.tsx
Due: none

feature: Implement creation of workspaces
  apps/mobile/src/app/(home)/workspaces/index.tsx
  apps/mobile/src/components/workspace/CreateCard.tsx
  apps/mobile/src/components/workspace/CreateWorkspaceCard.tsx
  apps/mobile/src/components/workspace/WorkspaceModal.tsx
Due: none

feat: Implement param pass to child pages under user
  apps/mobile/src/app/(home)/workspaces/[id]/(user)/_layout.tsx
  apps/mobile/src/app/(home)/workspaces/[id]/(user)/dashboard.tsx
  apps/mobile/src/app/(home)/workspaces/[id]/_layout.tsx
  apps/mobile/src/app/(home)/workspaces/index.tsx
  apps/mobile/src/components/auth/OAuthButtons.tsx
  apps/mobile/src/components/workspace/CreateWorkspaceCard.tsx
  apps/mobile/src/components/workspace/WorkSpaceCard.tsx
  apps/mobile/src/hooks/useApiClient.ts
Due: none

docs: comment functionality of files
  apps/mobile/src/hooks/useApiClient.ts
  apps/mobile/src/utils/last-workspace.ts
Due: none

feat: Implement caching
  apps/mobile/src/app/(home)/index.tsx
  apps/mobile/src/components/workspace/WorkSpaceCard.tsx
Due: none

refactor: Implement error checks towards the user
  apps/mobile/src/app/(auth)/sign-in.tsx
  apps/mobile/src/app/(auth)/sign-up.tsx
  apps/mobile/src/app/(home)/index.tsx
  apps/mobile/src/components/auth/OAuthButtons.tsx
  apps/mobile/src/components/auth/SignOutButton.tsx
  apps/mobile/src/components/auth/VerificationModal.tsx
  apps/mobile/src/utils/error-handler.ts
Due: none

create initial version of Workspace Selector component
  apps/web/src/components/WorkspaceSelector.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

fix: Verfication modal for email codes
  apps/mobile/src/app/(auth)/sign-in.tsx
  apps/mobile/src/app/(auth)/sign-up.tsx
  apps/mobile/src/components/auth/SignInVerificationModal.tsx
  apps/mobile/src/components/auth/SignUpVerificationModal.tsx
  apps/mobile/src/hooks/useApiClient.ts
Due: none

add antd registry to prevent flicker issues with ssr
  apps/web/package.json
  apps/web/src/app/layout.tsx
  pnpm-lock.yaml
Due: deploy:web:preview, expose:web:environment, deploy:web:production

fix: fix some lint issues
  apps/web/src/app/workspaces/[id]/admin/dashboard/page.tsx
  apps/web/src/app/workspaces/[id]/admin/team/page.tsx
  apps/web/src/components/MeetingsList.tsx
  packages/schemas/src/index.ts
Due: deploy:api:preview, deploy:web:preview, expose:web:environment, deploy:api:production, deploy:web:production

feat: implement dynamic rendering of workspaces in WorkspaceSelector
  apps/web/src/app/globals.css
  apps/web/src/app/workspaces/[id]/admin/layout.tsx
  apps/web/src/components/Navbar.tsx
  apps/web/src/components/WorkspaceSelector.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

feat: change workspace when switching in the selector
  apps/web/src/components/WorkspaceSelector.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

fix: prevent admin from switching to user page and vice versa
  apps/web/src/middleware.ts
Due: deploy:web:preview, expose:web:environment, deploy:web:production

refactor: replace Spin/Button/DatePicker
  apps/web/src/app/workspaces/[id]/admin/dashboard/page.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

feat: weekly view -> past dates grayed out + no adding in the past
  apps/web/src/app/workspaces/[id]/admin/dashboard/page.tsx
  apps/web/src/components/AddShiftModal.tsx
  apps/web/src/components/SingleAddShiftModal.tsx
Due: deploy:web:preview, expose:web:environment, deploy:web:production

Path conditions:
  deploy:api:preview: any of: apps/api/**/*, apps/api/prisma/**/*, packages/schemas/**/*
  deploy:web:preview: any of: apps/web/**/*, packages/schemas/**/*
  expose:web:environment: any of: apps/web/**/*, packages/schemas/**/*
  deploy:api:production: any of: apps/api/**/*, apps/api/prisma/**/*, packages/schemas/**/*
  deploy:web:production: any of: apps/web/**/*, packages/schemas/**/*
