Repository ScrubinScheduling/scheduling-app: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy:api:preview, deploy:web:preview, expose:web:environment

deploy:api:preview:
  stage: deploy
  script:
  - npm install --global vercel
  - npm install --global pnpm
  - cd apps/api
  - vercel pull --yes --environment=preview --token="$TOKEN"
  - vercel deploy --token="$TOKEN"

deploy:web:preview:
  stage: deploy
  script:
  - npm install --global vercel
  - npm install --global pnpm
  - cd apps/web
  - vercel pull --yes --environment=preview --token="$TOKEN"
  ...

expose:web:environment:
  stage: expose
  needs:
  - job: deploy:web:preview
    artifacts: true
  script:
  - echo "Publishing environment URL $WEB_PREVIEW_URL"
  environment:
    name: staging
    url: $WEB_PREVIEW_URL

pass invitationId to InvitationCard
  apps/web/src/app/invitations/[id]/page.tsx
Due: deploy:web:preview, expose:web:environment

move pages in (app) to appropriate places
  apps/web/components/AppHeader.tsx
  apps/web/src/app/(app)/dashboard/page.tsx
  apps/web/src/app/workspaces/[id]/dashboard/page.tsx
  apps/web/src/app/workspaces/[id]/layout.tsx
  apps/web/src/app/workspaces/[id]/team/page.tsx
Due: deploy:web:preview, expose:web:environment

created dummy home page and login page to check router
  apps/mobile/App.tsx
  apps/mobile/pages/HomePage.tsx
  apps/mobile/pages/LoginPage.tsx
Due: none

created dummy versions for each page to be implemented
  apps/mobile/App.tsx
  apps/mobile/pages/DaysOffPage.tsx
  apps/mobile/pages/SettingsPage.tsx
  apps/mobile/pages/TradeShiftPage.tsx
  apps/mobile/pages/ViewShiftPage.tsx
Due: none

changed the email and phone row text to be consistent
  apps/web/src/app/(app)/Team/page.tsx
Due: deploy:web:preview, expose:web:environment

developed home page components almost completely
  apps/mobile/components/MainTabs.tsx
  apps/mobile/navigation/TabNavigator.tsx
  apps/mobile/pages/HomePage.tsx
Due: none

Added details within the shift container
  apps/mobile/pages/HomePage.tsx
Due: none

added dummy notification toggle feature and clock in clock out featue
  apps/mobile/assets/example-vet.png
  apps/mobile/pages/HomePage.tsx
Due: none

implemented view shifts with dummy data
  apps/mobile/navigation/TabNavigator.tsx
  apps/mobile/pages/HomePage.tsx
  apps/mobile/pages/ViewShiftPage.tsx
Due: none

created dummy trade shift page with shift selection
  apps/mobile/navigation/TabNavigator.tsx
  apps/mobile/pages/TradeShiftPage.tsx
Due: none

minor fixes
  apps/web/components/AppHeader.tsx
  apps/web/src/app/sign-in/[[...sign-in]]/page.tsx
  apps/web/src/app/sign-up/[[...sign-up]]/page.tsx
Due: deploy:web:preview, expose:web:environment

update UI of sign in flow to match
  apps/mobile/assets/signin-page.png
  apps/mobile/assets/signup-page.png
  apps/mobile/pages/EntryPage.tsx
  apps/mobile/pages/SignInPage.tsx
  apps/mobile/pages/SignUpPage.tsx
Due: none

changed layout so it doesn't get stuck on welcome page
  apps/web/src/app/layout.tsx
  apps/web/src/app/workspaces/[id]/Team/page.tsx
  pnpm-lock.yaml
Due: deploy:web:preview, expose:web:environment

fixed bug with tab navigation in app
  apps/mobile/App.tsx
  apps/mobile/pages/SignInPage.tsx
  apps/mobile/pages/SignUpPage.tsx
Due: none

created a basic layout and redirect page for the request tab as well as a requests tab bar component for switching between shift requests and meeting requests
  apps/web/components/RequestsTabBar.tsx
  apps/web/src/app/workspaces/[id]/requests/layout.tsx
  apps/web/src/app/workspaces/[id]/requests/meetingRequests/page.tsx
  apps/web/src/app/workspaces/[id]/requests/page.tsx
  apps/web/src/app/workspaces/[id]/requests/shiftRequests/page.tsx
  package.json
  pnpm-lock.yaml
Due: deploy:web:preview, expose:web:environment

initial setup of API client package
  packages/api-client/src/index.ts
Due: none

Fix webhook integration
  apps/api/src/index.ts
  apps/web/components/AddShiftModal.tsx
  apps/web/src/app/workspaces/page.tsx
Due: deploy:api:preview, deploy:web:preview, expose:web:environment

created the front end for the shifts request page as well as made minor changes to the layout and requestTabBar
  apps/web/components/RequestsTabBar.tsx
  apps/web/src/app/workspaces/[id]/requests/layout.tsx
  apps/web/src/app/workspaces/[id]/requests/meeting/page.tsx
  apps/web/src/app/workspaces/[id]/requests/shift/page.tsx
  apps/web/src/app/workspaces/[id]/team/page.tsx
Due: deploy:web:preview, expose:web:environment

Implement NavBar for date switching
  apps/web/components/UserShift.tsx
  apps/web/helpers/time.ts
  apps/web/src/app/workspaces/[id]/dashboard/page.tsx
Due: deploy:web:preview, expose:web:environment

add build capablitity to api client package and add it to mobile and web package.jsons
  apps/mobile/package.json
  apps/web/package.json
  package.json
  packages/api-client/package.json
  packages/api-client/tsconfig.json
  pnpm-lock.yaml
Due: deploy:web:preview, expose:web:environment

switch invitations to flat structure due to lack of access of workspaceId
  apps/api/src/index.ts
  apps/api/src/routes/invitations.ts
Due: deploy:api:preview

change api client to use flat structure invitations
  packages/api-client/src/index.ts
Due: none

replace raw fetching with api client usage in web components
  apps/web/components/CreateWorkspaceCard.tsx
  apps/web/components/InvitationCard.tsx
  apps/web/src/app/invitations/[id]/page.tsx
  apps/web/src/app/workspaces/[id]/dashboard/page.tsx
  apps/web/src/app/workspaces/page.tsx
  apps/web/src/middleware.ts
Due: deploy:web:preview, expose:web:environment

Implement fetch request with params for workspace
  apps/api/src/index.ts
  apps/web/components/AddShiftModal.tsx
  apps/web/src/app/workspaces/[id]/dashboard/page.tsx
Due: deploy:api:preview, deploy:web:preview, expose:web:environment

fixed api route for shiftRequests
  apps/api/src/controllers/shiftRequestsController.ts
  apps/api/src/routes/shiftRequests.ts
  apps/web/src/app/workspaces/[id]/requests/shift/page.tsx
Due: deploy:api:preview, deploy:web:preview, expose:web:environment

move all ShiftRequestsController functionality into shiftRequests.ts
  apps/api/src/controllers/shiftRequestsController.ts
  apps/api/src/routes/shiftRequests.ts
Due: deploy:api:preview

Created a table for time-off requests and created a route script for it and linked it all to the requests/shift page.tsx
  apps/api/prisma/migrations/20251116043759_add_timeoff_request_table/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/index.ts
  apps/api/src/routes/shiftRequests.ts
  apps/api/src/routes/timeOffRequests.ts
  apps/web/src/app/workspaces/[id]/requests/shift/page.tsx
Due: deploy:api:preview, deploy:web:preview, expose:web:environment

Implement reload of shift view after submitting shifts
  apps/api/src/index.ts
  apps/web/components/AddShiftModal.tsx
  apps/web/helpers/time.ts
  apps/web/package.json
  apps/web/src/app/workspaces/[id]/dashboard/page.tsx
  pnpm-lock.yaml
Due: deploy:api:preview, deploy:web:preview, expose:web:environment

controllers/shiftRequestController.ts now exports an enum for shiftRequestStatus Implemented createShiftRequest POST method in routes/shiftRequests.ts
  apps/api/prisma/schema.prisma
  apps/api/src/controllers/shiftRequestController.ts
  apps/api/src/routes/shiftRequests.ts
Due: deploy:api:preview

implemented get user shifts
  apps/api/src/routes/workspaceUsers.ts
Due: deploy:api:preview

add get user by clerk id in users
  apps/api/src/routes/users.ts
Due: deploy:api:preview

add approval statuses to shift requests table along with requestedUserId
  apps/api/prisma/migrations/20251117185449_add_approval_status_and_requested_user_id/migration.sql
  apps/api/prisma/schema.prisma
Due: deploy:api:preview

implement api logic for getting incoming and outgoing shift requests
  apps/api/src/routes/workspaceUsers.ts
  packages/api-client/src/index.ts
Due: deploy:api:preview

change approvedByRequested status in approve and reject endpoints
  apps/api/src/routes/shiftRequests.ts
Due: deploy:api:preview

routes/shiftRequests.ts now implements get single shift request by id
  apps/api/src/routes/shiftRequests.ts
Due: deploy:api:preview

Added some more documentation
  apps/api/src/routes/shiftRequests.ts
Due: deploy:api:preview

fixed sign in redirect
  apps/web/src/app/page.tsx
Due: deploy:web:preview, expose:web:environment

made minor UI changes to the admin shift request page
  apps/web/components/RequestsTabBar.tsx
  apps/web/src/app/workspaces/[id]/requests/shift/page.tsx
Due: deploy:web:preview, expose:web:environment

Intergrate new API format and create hook for API client
  apps/api/src/routes/shifts.ts
  apps/web/components/AddShiftModal.tsx
  apps/web/src/app/workspaces/[id]/dashboard/page.tsx
  apps/web/src/hooks/useApiClient.ts
Due: deploy:api:preview, deploy:web:preview, expose:web:environment

add seed script
  apps/api/package.json
  apps/api/prisma/seed.ts
Due: deploy:api:preview

Path conditions:
  deploy:api:preview: any of: apps/api/**/*, apps/api/prisma/**/*, packages/schemas/**/*
  deploy:web:preview: any of: apps/web/**/*, packages/schemas/**/*
  expose:web:environment: any of: apps/web/**/*, packages/schemas/**/*
