Repository ScrubinScheduling/scheduling-app: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy:api:preview, deploy:web:preview

deploy:api:preview:
  stage: deploy
  script:
  - npm install --global vercel
  - npm install -- global pnpm
  - vercel pull --yes --environment=preview --token="$TOKEN"
  - vercel build --token="$TOKEN"
  - vercel deploy --prebuilt --token="$TOKEN"

deploy:web:preview:
  stage: deploy
  script:
  - npm install --global vercel
  - npm install -- global pnpm
  - vercel pull --yes --environment=preview --token="$TOKEN"
  - vercel build --token="$TOKEN"
  - vercel deploy --prebuilt --token="$TOKEN"

test commit
  apps/api/src/index.ts
Due: deploy:api:preview

fix typo with pnpm install
  .gitlab-ci.yml
  apps/api/src/index.ts
Due: deploy:api:preview

update .gitignore to include .vercel
  .gitignore
Due: none

remove unnecessary commands in web deploy preview
  .gitlab-ci.yml
  apps/web/src/app/page.tsx
Due: deploy:web:preview

hardcode publishableKey for web
  apps/web/src/app/layout.tsx
Due: deploy:web:preview

write web.env at project root
  .gitlab-ci.yml
  apps/web/src/app/page.tsx
Due: deploy:web:preview

fix typo in web.env location
  .gitlab-ci.yml
  apps/web/src/app/page.tsx
Due: deploy:web:preview

Implement specific dates for days
  apps/web/src/app/page.tsx
Due: deploy:web:preview

Create Navbar (only css)
  apps/web/package.json
  apps/web/src/app/globals.css
  apps/web/src/app/page.tsx
  pnpm-lock.yaml
Due: deploy:web:preview

Implement date range picker
  apps/web/src/app/page.tsx
Due: deploy:web:preview

Add Dummy data view for shifts
  apps/web/src/app/page.tsx
Due: deploy:web:preview

fix issues with wrong types and spacing in prisma schema
  apps/api/prisma/schema.prisma
Due: deploy:api:preview

create test endpoint to check if prisma works
  apps/api/src/index.ts
Due: deploy:api:preview

remove auth related fields in users table
  apps/api/prisma/migrations/20251023172832_remove_auth_fields_users/migration.sql
  apps/api/prisma/schema.prisma
Due: deploy:api:preview

add clerk UserButton to dashboard navbar
  apps/web/src/app/dashboard/page.tsx
Due: deploy:web:preview

fix: add key attribute to markup rendered through .map
  apps/web/src/app/dashboard/page.tsx
Due: deploy:web:preview

rebased onto dev
  apps/web/components/AppHeader.tsx
  apps/web/src/app/(app)/layout.tsx
Due: deploy:web:preview

add sample workspaces page
  apps/web/components/WorkspaceCard.tsx
  apps/web/components/WorkspaceList.tsx
  apps/web/package.json
  apps/web/src/app/page.tsx
  apps/web/src/app/workspaces/page.tsx
Due: deploy:web:preview

add CreateWorkspacCard
  apps/web/components/CreateWorkspaceCard.tsx
  apps/web/components/WorkspaceList.tsx
Due: deploy:web:preview

add CreateWorkspaceCard
  apps/web/components/CreateWorkspaceCard.tsx
  apps/web/package.json
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/dialog.tsx
  apps/web/src/components/ui/input.tsx
  apps/web/src/components/ui/label.tsx
Due: deploy:web:preview

center workspaces list vertically
  apps/web/src/app/workspaces/page.tsx
  pnpm-lock.yaml
Due: deploy:web:preview

add location input CreateWorkspace Modal
  apps/web/components/CreateWorkspaceCard.tsx
Due: deploy:web:preview

Complete modal UI
  apps/web/package.json
  apps/web/src/app/dashboard/page.tsx
  pnpm-lock.yaml
Due: deploy:web:preview

rename membership fields
  apps/api/prisma/migrations/20251028005530_changes_memberships_field_names/migration.sql
Due: deploy:api:preview

add create workspace endpoint
  apps/api/src/index.ts
Due: deploy:api:preview

add get endpoint for workspaces
  apps/api/src/index.ts
Due: deploy:api:preview

make clerkId unique
  apps/api/prisma/migrations/20251028041711_make_clerk_id_unique/migration.sql
  apps/api/prisma/schema.prisma
Due: deploy:api:preview

render user's workspaces
  apps/web/components/WorkspaceCard.tsx
  apps/web/components/WorkspaceList.tsx
  apps/web/src/app/workspaces/page.tsx
Due: deploy:web:preview

change workspace to workspaces in routes
  apps/api/src/index.ts
  apps/web/src/app/workspaces/[id]/dashboard/page.tsx
  apps/web/src/app/workspaces/page.tsx
Due: deploy:api:preview, deploy:web:preview

fix ui issue with workspace card duplicating
  apps/web/src/app/workspaces/page.tsx
Due: deploy:web:preview

Clean unused imports
  apps/web/components/AddShiftModal.tsx
  apps/web/src/app/dashboard/page.tsx
Due: deploy:web:preview

add workspace endpoint along workspace membership check
  apps/api/src/index.ts
  apps/api/src/utils/authz.ts
Due: deploy:api:preview

Implement multi shift creation
  apps/api/src/index.ts
  apps/web/components/AddShiftModal.tsx
Due: deploy:api:preview, deploy:web:preview

Added shifts route
  apps/api/src/controllers/shiftController.ts
  apps/api/src/index.ts
  apps/api/src/middleware/authMiddleware.ts
  apps/api/src/routes/shifts.ts
Due: deploy:api:preview

add prettier and run format
  .prettierignore
  .prettierrc
  README.md
  apps/api/package.json
  apps/api/src/db.ts
  apps/api/src/index.ts
  apps/api/src/utils/authz.ts
  apps/api/tsconfig.json
  apps/mobile/App.tsx
  apps/mobile/app.json
  apps/mobile/babel.config.js
  apps/mobile/components/ui/gluestack-ui-provider/config.ts
  apps/mobile/components/ui/gluestack-ui-provider/index.next15.tsx
  apps/mobile/components/ui/gluestack-ui-provider/index.tsx
  apps/mobile/components/ui/gluestack-ui-provider/index.web.tsx
  apps/mobile/components/ui/gluestack-ui-provider/script.ts
  apps/mobile/package.json
  apps/mobile/tailwind.config.js
  apps/mobile/tsconfig.json
  apps/web/components.json
  apps/web/eslint.config.mjs
  apps/web/package.json
  apps/web/postcss.config.mjs
  apps/web/src/app/globals.css
  apps/web/tsconfig.json
  docker-compose.yml
  package.json
  pnpm-lock.yaml
  turbo.json
Due: deploy:api:preview, deploy:web:preview

Implement edit endpoint
  apps/api/src/index.ts
Due: deploy:api:preview

create initial iteration of invitation page
  apps/web/src/app/globals.css
  apps/web/src/app/invitations/[id]/page.tsx
Due: deploy:web:preview

load InvitationCard with data
  apps/api/src/index.ts
  apps/web/components/InvitationCard.tsx
  apps/web/src/app/invitations/[id]/page.tsx
Due: deploy:api:preview, deploy:web:preview

feat: setup invitation acceptance flow
  apps/api/src/index.ts
  apps/web/components/InvitationCard.tsx
Due: deploy:api:preview, deploy:web:preview

Path conditions:
  deploy:api:preview: any of: apps/api/**/*, apps/api/prisma/**/*, packages/schemas/**/*
  deploy:web:preview: any of: apps/web/**/*, packages/schemas/**/*
