Repository ScrubinScheduling/scheduling-app: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy:api:preview, deploy:web:preview, expose:web:environment

deploy:api:preview:
  stage: deploy
  script:
  - npm install --global vercel
  - npm install --global pnpm
  - cd apps/api
  - vercel pull --yes --environment=preview --token="$TOKEN"
  - vercel deploy --token="$TOKEN"

deploy:web:preview:
  stage: deploy
  script:
  - npm install --global vercel
  - npm install --global pnpm
  - cd apps/web
  - vercel pull --yes --environment=preview --token="$TOKEN"
  ...

expose:web:environment:
  stage: expose
  needs:
  - job: deploy:web:preview
    artifacts: true
  script:
  - echo "Publishing environment URL $WEB_PREVIEW_URL"
  environment:
    name: staging
    url: $WEB_PREVIEW_URL

change foreground to white text
  apps/web/src/app/globals.css
Due: deploy:web:preview, expose:web:environment

create api client for mobile app
  apps/api/src/routes/users.ts
  apps/mobile/api/client.ts
Due: deploy:api:preview

made view shifts dynamic
  apps/mobile/pages/ViewShiftPage.tsx
Due: none

breifly commented functions
  apps/api/src/routes/users.ts
  apps/api/src/routes/workspaceUsers.ts
  apps/mobile/api/client.ts
  apps/mobile/pages/ViewShiftPage.tsx
Due: deploy:api:preview

generate actual invitation link and pass it to modal
  apps/web/components/AddMemberModal.tsx
  apps/web/src/app/workspaces/[id]/admin/team/page.tsx
Due: deploy:web:preview, expose:web:environment

create invitation link only when opening AddMemberModal
  apps/web/components/AddMemberModal.tsx
  apps/web/src/app/workspaces/[id]/admin/team/page.tsx
Due: deploy:web:preview, expose:web:environment

add initial layout of clock in card
  apps/web/components/ClockinCard.tsx
  apps/web/src/app/workspaces/[id]/user/dashboard/page.tsx
Due: deploy:web:preview, expose:web:environment

add state management for different states (scheduled, active, break, completed)
  apps/web/components/ClockinCard.tsx
  apps/web/src/app/workspaces/[id]/user/dashboard/page.tsx
Due: deploy:web:preview, expose:web:environment

add UpcomingScheduleCard (wip)
  apps/web/components/UpcomingScheduleCard.tsx
  apps/web/src/app/workspaces/[id]/user/dashboard/page.tsx
Due: deploy:web:preview, expose:web:environment

updated requestorId and requestedUserId to be strings
  apps/api/prisma/migrations/20251119180224_make_user_ids_strings_in_shift_requests/migration.sql
  apps/api/prisma/schema.prisma
Due: deploy:api:preview

add useApiClient hook to use shared api client
  apps/mobile/hooks/useApiClient.ts
  apps/mobile/pages/ViewShiftPage.tsx
Due: none

remove redundant currentUserId state and use userId from useAuth
  apps/mobile/api/client.ts
  apps/mobile/pages/ViewShiftPage.tsx
Due: none

get rid of user id resolution from db in requests page
  apps/web/src/app/workspaces/[id]/user/requests/page.tsx
Due: deploy:web:preview, expose:web:environment

shifts change owners after both user and manager approve
  apps/api/src/routes/shiftRequests.ts
  apps/web/src/app/workspaces/[id]/admin/requests/shift/page.tsx
Due: deploy:api:preview, deploy:web:preview, expose:web:environment

Implement delete shift with secondary confimation
  apps/web/components/ShiftModal.tsx
  apps/web/src/app/workspaces/[id]/admin/dashboard/page.tsx
Due: deploy:web:preview, expose:web:environment

Implement modal to view shift details
  apps/web/components/ShiftModal.tsx
  apps/web/helpers/time.ts
  apps/web/src/app/workspaces/[id]/admin/dashboard/page.tsx
Due: deploy:web:preview, expose:web:environment

Fix adminId from int to string
  apps/api/prisma/migrations/20251122004930_made_admin_id_string/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed.ts
Due: deploy:api:preview

created the front end view for meeting requests and implemented the routes in meetings.ts and made minor style changes to the shift requests page
  apps/api/package-lock.json
  apps/api/package.json
  apps/api/prisma/migrations/20251122003327_add_meeting_schema/migration.sql
  apps/api/src/routes/meetings.ts
  apps/api/src/routes/shiftRequests.ts
  apps/api/src/routes/timeOffRequests.ts
  apps/web/src/app/workspaces/[id]/admin/requests/meeting/page.tsx
  apps/web/src/app/workspaces/[id]/admin/requests/shift/page.tsx
  pnpm-lock.yaml
Due: deploy:api:preview, deploy:web:preview, expose:web:environment

Fix prisma schema for workspace and update select to use string instead
  apps/api/prisma/migrations/20251123003348_changed_workpsaceid_to_int/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/routes/workspaces.ts
  apps/web/components/AddShiftModal.tsx
Due: deploy:api:preview, deploy:web:preview, expose:web:environment

add actual times for clock in and clock out and start break
  apps/web/components/ClockinCard.tsx
Due: deploy:web:preview, expose:web:environment

move timesheet data in shift table into seperate timesheet table
  apps/api/prisma/migrations/20251124061348_seperate_timesheet_data_into_table/migration.sql
  apps/api/prisma/schema.prisma
Due: deploy:api:preview

implement endpoints to support clock in/out and start/end break
  apps/api/src/routes/shifts.ts
  apps/api/src/routes/users.ts
  apps/api/src/routes/workspaceUsers.ts
Due: deploy:api:preview

wire up api to clockin card and do not display clocked out shifts in the card or in upcoming schedule
  apps/api/src/routes/workspaceUsers.ts
  apps/web/components/ClockinCard.tsx
  apps/web/components/UpcomingScheduleCard.tsx
Due: deploy:api:preview, deploy:web:preview, expose:web:environment

Fix header missalignment
  apps/web/components/AppHeader.tsx
  apps/web/components/UserAppHeader.tsx
Due: deploy:web:preview, expose:web:environment

remove unused variables/imports and use correct built in types
  apps/web/components/AddShiftModal.tsx
  apps/web/components/AppHeader.tsx
  apps/web/components/ClockinCard.tsx
  apps/web/components/ShiftModal.tsx
  apps/web/components/UserAppHeader.tsx
  apps/web/helpers/time.ts
  apps/web/src/app/invitations/[id]/page.tsx
  apps/web/src/app/shift-requests/create/page.tsx
  apps/web/src/app/workspaces/[id]/admin/dashboard/page.tsx
  apps/web/src/app/workspaces/[id]/user/requests/page.tsx
Due: deploy:web:preview, expose:web:environment

Implement card view for calendar
  apps/web/src/app/workspaces/[id]/admin/dashboard/page.tsx
  apps/web/src/app/workspaces/[id]/user/calendar/page.tsx
Due: deploy:web:preview, expose:web:environment

add basic eslint config for api
  apps/api/eslint.config.mjs
  apps/api/package.json
  pnpm-lock.yaml
Due: deploy:api:preview

Bug fix for shift adding
  apps/web/components/AddShiftModal.tsx
  apps/web/components/ShiftModal.tsx
  apps/web/src/app/workspaces/[id]/admin/dashboard/page.tsx
  apps/web/src/app/workspaces/[id]/user/calendar/page.tsx
Due: deploy:web:preview, expose:web:environment

replace hardcoded api url with env variable
  apps/web/components/CreateWorkspaceCard.tsx
  apps/web/components/InvitationCard.tsx
  apps/web/components/MeetingModal.tsx
  apps/web/src/app/invitations/[id]/page.tsx
  apps/web/src/app/workspaces/[id]/admin/requests/meeting/page.tsx
  apps/web/src/app/workspaces/[id]/admin/requests/shift/page.tsx
  apps/web/src/app/workspaces/[id]/admin/team/page.tsx
  apps/web/src/app/workspaces/[id]/user/requests/page.tsx
  apps/web/src/app/workspaces/page.tsx
  apps/web/src/hooks/useApiClient.ts
  apps/web/src/middleware.ts
  packages/schemas/src/index.ts
Due: deploy:api:preview, deploy:web:preview, expose:web:environment

fix all api type error to build
  apps/api/src/routes/meetings.ts
  apps/api/src/routes/shiftRequests.ts
  apps/api/src/routes/shifts.ts
  apps/api/src/routes/timeOffRequests.ts
  apps/api/src/routes/workspaces.ts
  apps/api/src/utils/authz.ts
Due: deploy:api:preview

fix type issue in RequestsIndexPage
  apps/web/src/app/workspaces/[id]/admin/requests/page.tsx
Due: deploy:web:preview, expose:web:environment

fix lots of type issues in web
  apps/web/components/ClockinCard.tsx
  apps/web/components/MeetingModal.tsx
  apps/web/components/UpcomingScheduleCard.tsx
  apps/web/components/WorkspaceCard.tsx
  apps/web/components/WorkspaceList.tsx
  apps/web/src/app/workspaces/[id]/admin/requests/meeting/page.tsx
  apps/web/src/app/workspaces/[id]/admin/requests/shift/page.tsx
  apps/web/src/app/workspaces/[id]/admin/team/page.tsx
  apps/web/src/app/workspaces/[id]/user/requests/page.tsx
  apps/web/src/middleware.ts
Due: deploy:web:preview, expose:web:environment

removed roles tab from the app header
  apps/web/components/AppHeader.tsx
Due: deploy:web:preview, expose:web:environment

you can now change roles of each memeber on the team page
  apps/api/prisma/schema.prisma
  apps/api/src/controllers/memberController.ts
  apps/api/src/routes/roleMemberships.ts
  apps/api/src/routes/roles.ts
  apps/web/components/MeetingModal.tsx
  apps/web/src/app/workspaces/[id]/admin/team/page.tsx
Due: deploy:api:preview, deploy:web:preview, expose:web:environment

block non admin users from accessing admin pages
  apps/web/src/middleware.ts
Due: deploy:web:preview, expose:web:environment

Added API endpoints for the user to vote on meeting Invites
  apps/api/src/routes/meetings.ts
Due: deploy:api:preview

made minor changes to the dialog boxes
  apps/web/src/app/workspaces/[id]/admin/requests/meeting/page.tsx
  apps/web/src/app/workspaces/[id]/admin/requests/shift/page.tsx
Due: deploy:web:preview, expose:web:environment

Fix liniting issues
  apps/web/components/AddShiftModal.tsx
  apps/web/components/AppHeader.tsx
  apps/web/components/MeetingModal.tsx
  apps/web/components/TimesheetTable.tsx
  apps/web/src/app/workspaces/[id]/admin/dashboard/page.tsx
  apps/web/src/app/workspaces/[id]/admin/team/page.tsx
  apps/web/src/app/workspaces/[id]/user/calendar/page.tsx
  apps/web/src/app/workspaces/page.tsx
  packages/schemas/src/index.ts
Due: deploy:api:preview, deploy:web:preview, expose:web:environment

Added endpoint to packages for the user to respond to meeting invites
  apps/web/src/app/workspaces/[id]/user/requests/page.tsx
  packages/api-client/src/index.ts
Due: deploy:web:preview, expose:web:environment

Path conditions:
  deploy:api:preview: any of: apps/api/**/*, apps/api/prisma/**/*, packages/schemas/**/*
  deploy:web:preview: any of: apps/web/**/*, packages/schemas/**/*
  expose:web:environment: any of: apps/web/**/*, packages/schemas/**/*
